
<div class="form-group" data-section="arg">
    <label class="col-sm-2 control-label" for="input-mode">{{ entry_arg_mode }}</label>
    <div class="col-sm-10">
        <div class="mode switch btn-group">
            <label data-toggle="tooltip" title="{{ help_arg_mode_abs }}" class="btn btn-default {{ (mode == 1) ? 'active' }}" {{ (mode == 1) ? 'active' }}>
                <input type="radio" name="mode" value="1" data-group="mode_abs" {{ (mode == 1) ? 'checked="checked"' }}>{{ text_arg_mode_abs }}
            </label>
            <label data-toggle="tooltip" title="{{ help_arg_mode_rel }}" class="btn btn-default {{ (mode == 2) ? 'active' }}" {{ (mode == 2) ? 'active' }}>
                <input type="radio" name="mode" value="2" data-group="mode_rel" {{ (mode == 2) ? 'checked="checked"' }}>{{ text_arg_mode_rel }}
            </label>
        </div>
        <div class="pull-right checkbox">
            <label data-toggle="tooltip" title="{{ entry_arg_invert_help }}" class="control-label">
                <input type="checkbox" name="invert" value="1" {{ (invert) ? 'checked' : '' }}>&nbsp;{{ entry_arg_invert }}
            </label>
        </div>
    </div>
</div>
{% if (categories is defined) %}
<div class="form-group" data-mode="mode_abs" data-section="arg">
    <label class="col-sm-2 control-label">{{ entry_categories }}</label>
    <div class="col-sm-10">
        <div class="well well-sm">
            <table class="table table-striped">
            <tr>
            {% for category_key, category in categories %}
            <td class="checkbox">
            <label>
                {% if category.category_id in selected_categories %}
                <input type="checkbox" name="selected_categories[]" value="{{ category.category_id }}" checked="checked" />
                {{ category.name }}
                {% else %}
                <input type="checkbox" name="selected_categories[]" value="{{ category.category_id }}" />
                {{ category.name }}
                {% endif %}
            </label> 
            </td>
            {% endfor %}
            </tr>
            </table>
        </div>
        <a href="#" onclick="$(this).parent().find(':checkbox').prop('checked', true);return false;">{{ text_select_all }}</a> / <a href="#" onclick="$(this).parent().find(':checkbox').prop('checked', false);return false;">{{ text_unselect_all }}</a> / <a href="#" onclick="invertSelection(this);return false;">{{ text_invert_selection }}</a>
    </div>
</div>
{% endif %}

{% if (manufacturers is defined) %}
<div class="form-group" data-mode="mode_abs" data-section="arg">
    <label class="col-sm-2 control-label">{{ entry_manufacturers }}</label>
    <div class="col-sm-10">
        <div class="well well-sm">
            <table class="table table-striped">
            <tr>
            {% for manufacturer_key, manufacturer in manufacturers %}
            <td class="checkbox">
            <label>
                {% if manufacturer.manufacturer_id in selected_manufacturers %}
                <input type="checkbox" name="selected_manufacturers[]" value="{{ manufacturer.manufacturer_id }}" checked="checked" />
                {{ manufacturer.name }}
                {% else %}
                <input type="checkbox" name="selected_manufacturers[]" value="{{ manufacturer.manufacturer_id }}" />
                {{ manufacturer.name }}
                {% endif %}
            </label> 
            </td>
            {% endfor %}
            </tr>
            </table>
        </div>
        <a href="#" onclick="$(this).parent().find(':checkbox').prop('checked', true);return false;">{{ text_select_all }}</a> / <a href="#" onclick="$(this).parent().find(':checkbox').prop('checked', false);return false;">{{ text_unselect_all }}</a> / <a href="#" onclick="invertSelection(this);return false;">{{ text_invert_selection }}</a>
    </div>
</div>
{% endif %}

{% if (consider_categories is defined) %}
<div class="form-group" data-mode="mode_rel" data-section="arg">
    <label class="col-sm-2 control-label" for="input-consider_categories"><span data-toggle="tooltip" title="{{ entry_consider_categories_help }}">{{ entry_consider_categories }}</span></label>
    <div class="col-sm-10">
        <div class="switch btn-group">
            <label class="btn btn-default {{ (consider_categories) ? 'active' }}"> 
                <input type="radio" name="consider_categories" value="1" {{ (consider_categories) ? 'checked="checked"' }}/>{{ text_yes }}
            </label>
            <label class="btn btn-default {{ (not consider_categories) ? 'active' }}"> 
                <input type="radio" name="consider_categories" value="0" {{ (not consider_categories) ? 'checked="checked"' }}/>{{ text_no }}
            </label>
        </div>
    </div>
</div>
{% endif %}

{% if (consider_manufacturers is defined) %}
<div class="form-group" data-mode="mode_rel" data-section="arg">
    <label class="col-sm-2 control-label" for="input-consider_manufacturers"><span data-toggle="tooltip" title="{{ entry_consider_manufacturers_help }}">{{ entry_consider_manufacturers }}</span></label>
    <div class="col-sm-10">
        <div class="switch btn-group">
            <label class="btn btn-default {{ (consider_manufacturers) ? 'active' }}"> 
                <input type="radio" name="consider_manufacturers" value="1" {{ (consider_manufacturers) ? 'checked="checked"' }}/>{{ text_yes }}
            </label>
            <label class="btn btn-default {{ (not consider_manufacturers) ? 'active' }}"> 
                <input type="radio" name="consider_manufacturers" value="0" {{ (not consider_manufacturers) ? 'checked="checked"' }}/>{{ text_no }}
            </label>
        </div>
    </div>
</div>
{% endif %}

<div class="form-group" data-section="arg">
    <label class="col-sm-2 control-label" for="input-sort">{{ entry_sort_order }}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-6">
                <select name="sort" id="input-sort" class="form-control">
                    {% for sort_index, sort_name in sorts %}
                        {% if sort == sort_index %}
                        <option data-group="{{ group_index }}" value="{{ sort_index }}" selected="selected">{{ sort_name }}</option>
                        {% else %}
                        <option data-group="{{ group_index }}" value="{{ sort_index }}">{{ sort_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <select name="order" id="input-order" class="form-control">
                    {% for order_index, order_name in orders %}
                        {% if order == order_index %}
                        <option data-group="{{ group_index }}" value="{{ order_index }}" selected="selected">{{ order_name }}</option>
                        {% else %}
                        <option data-group="{{ group_index }}" value="{{ order_index }}">{{ order_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<script>
function initMode(mode) {
    $('.form-group[data-mode]').addClass('hidden');
    $('.form-group[data-mode=' + mode + ']').removeClass('hidden');
}

function invertSelection(sender) {
    $.each($(sender).closest('.form-group').find('input[type=checkbox]'), function(index, value){
        $(value).prop('checked', !$(value).prop('checked'));
    });
}

$('#data_source_form').delegate('.mode > label', 'click', function(e) {
    let mode = $(this).find('input').data('group');
    initMode(mode);
});

var mode = $('input[name=mode]:checked').data('group');

initMode(mode);
</script>

<style>
#form-module .checkbox > .control-label {
    display: flex;
    align-items: center;
}
#form-module .form-group[data-section="arg"] {
	background-color: #fff4d9;
	border-left: 5px solid #ffd166;
}
</style>